* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    height: 80px;
    width: 500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.377);
    font-size: 40px;
    font-weight: bold;
}

span {
    color:rgb(46, 192, 111);
}

.box {
    height: 160px;
    width: 120px;
    box-shadow: 0px 0px 5px 4px silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bolder;
    color: black;
    border-radius: 5px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

